services:
    db:
        image: postgres:16
        container_name: db
        restart: unless-stopped
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: socialanimal
        volumes:
            - db_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5
        networks:
            - app-network

    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        container_name: backend
        restart: unless-stopped
        environment:
            - DATABASE_URL=postgresql://postgres:postgres@db:5432/socialanimal
            - JWT_SECRET="something_secret"
        depends_on:
            db:
                condition: service_healthy
        networks:
            - app-network

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        container_name: frontend
        restart: unless-stopped
        ports:
            - "3002:3000"
        environment:
            - PUBLIC_URL=http://localhost:3002
        depends_on:
            backend:
                condition: service_started
        networks:
            - app-network

volumes:
    db_data:

networks:
    app-network:
        driver: bridge
