services:
    db:
        image: postgres:16
        container_name: db
        restart: unless-stopped
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: socialanimal
        volumes:
            - db_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5
        networks:
            - app-network

    backend:
        image: nlion/socialanimal-backend:latest
        container_name: backend
        restart: unless-stopped
        environment:
            DATABASE_URL: postgresql://postgres:postgres@db:5432/socialanimal
            JWT_SECRET: something_secret
        depends_on:
            db:
                condition: service_healthy
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "wget -qO- http://127.0.0.1:4000/health || exit 1",
                ]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s
        networks:
            - app-network

    frontend:
        image: nlion/socialanimal-frontend:latest
        container_name: frontend
        restart: unless-stopped
        ports:
            - "3000:3000"
        environment:
            PUBLIC_URL: http://localhost:3000
        depends_on:
            backend:
                condition: service_healthy
        healthcheck:
            test: ["CMD-SHELL", "wget -O- http://127.0.0.1:3000 || exit 1"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s
        networks:
            - app-network

volumes:
    db_data:

networks:
    app-network:
        driver: bridge
